*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */
    .header-nav{
        background-color: #ADD8E6;
    }

    .jumbotron{
        background-color: #00008B;
    }

    .header-col.type-2 > a{
        margin-right: 5px;
    }
    
    .header-col.type-1 > a, .header-col.type-2 > a{
        text-decoration: none;
        color: black;
        
    }
/* FINE HEADER */

/* UTILITIES */
    .section-type1{
        width: 100%;
        padding: 15px 0px;
    }

    .section-type2{
        width: 100%;
        padding: 50px 0px;
    }

    .container-type1{
        max-width: 1170px;
        width: 60%;
        margin: 0 auto;
    }

    .container-type2{
        max-width: 1170px;
        width: 48%;
        margin: 0 auto;
    }

    .row{
        display: flex;
        flex-flow: row wrap;
    }

    .col{
        border: 2px dashed black;
    }

    .header-col{
        background-color: orange;
        padding: 10px;
    }

    .header-col.type-1{
        width: 20%;
    }

    .header-col.type-2{
        width: 60%;
    }

    .jumbotron-col{
        width: 100%;
        height: 400px;
        background-color: #EE82EE;
    }

    .blue-col{
        width: 60%;
        height: 500px;
        background-color: #1E90FF;
    }

    .pink-col{
        width: 40%;
        height: 500px;
        background-color: #FFC0CB;
    }

    .green-col{
        width: 100%;
        height: 800px;
        background-color: #228B22;
    }

    /* TEXT ALIGN */
        .text-align-left{
            text-align: left;
        }

        .text-align-center{
            text-align: center;
        }

        .text-align-right{
            text-align: right;
        }
    /* FINE TEXT ALIGN */

    .bgcolor-grey{
        background-color: #D3D3D3;
    }
/* FINE UTILITIES */